.banner{
	height: 50vw;
	background: url(../images/banner.png) no-repeat center;
	background-size: cover;
	background-size: auto 50vw;
	margin-bottom: 24px;
}
.item h3.head{
	height: 30px;
	text-align: center;
	font-family: "huawenxingkai";
	padding-top: 5px;
	margin-bottom: 42px;
	font-size: 32px;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1920px 100%;
}
.item.itemstylea{
	padding: 70px 0 65px;
}
.item.itemstyleb{
	padding: 34px 0 75px;
	background-color: #861f29;
}
.item.itemstylea h3.head{
	background-image: url(../images/title01.png);
	color: #bf1a20;
}
.item.itemstyleb h3.head{
	background-image: url(../images/title02.png);
	color: #fddd4d;
}
.item .sel{
	position: relative;
	padding-top: 16px;
}
.item.itemstylea .sel,
.item.itemstyleb .cnt{
	float: left;
}
.item.itemstyleb .sel,
.item.itemstylea .cnt{
	float: right;
}
.item .sel a.lookmore{
	position: absolute;
	top: 0;
	right: 18%;
	font-family: "WenYue";
	font-size: 16px;
}
.itemstylea .sel a.lookmore{
	color: #bf1a20;
}
.itemstyleb .sel a.lookmore{
	color: #fddd4d;
}
.item .sel a.lookmore:hover{
	text-decoration: underline;
}
.item .sel ul{
	width: 74.2%;
	margin: 0 auto;
	overflow:hidden;
}
.item .sel ul li{
	width: 100%;
	height: 46px;
	float: left;
	margin: 15px 0;
	text-align: center;
	font-size: 24px;
	font-family: "huawenxingkai";
	background-repeat: no-repeat;
	line-height: 50px;
	cursor: pointer;
	background-position: center;
	background-size: 100% 100%;
}
.itemstylea .sel ul li{
	color: #333;
	background-image: url(../images/border01.png);
}
.itemstyleb .sel ul li{
	color: #fff;
	background-image: url(../images/border04.png);
}
.item.itemstylea .sel ul li.active{
	color: #bf1a20;
	background-image: url(../images/border02.png);
}
.item.itemstylea .sel ul li:hover{
	color: #bf1a20;
}
.item.itemstyleb .sel ul li.active{
	color: #fddd4d;
	background-image: url(../images/border03.png);
}
.item.itemstyleb .sel ul li:hover{
	color: #fddd4d;
}
.item .cnt{
	height: 354px;
	padding: 0;
	margin-top: 33px;
}
.itemstylea .cnt{
	position: relative;
	background: #fff;
	border: 2px solid #ccc;
}
.itemstylea .cnt.fullScreen{
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding: 20px 200px;
}
.itemstylea .cnt i.fsbtn{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 22px;
	height: 22px;
	background: url(../images/fullscreen.png) no-repeat center;
	cursor: pointer;
}
.itemstylea .cnt.fullScreen i.fsbtn{
	left: auto;
	right: 20px;
	bottom: 20px;
}
.item .cnt ul{
	height: 100%;
	width: 100%;
}
.itemstylea .cnt ul{
	padding: 75px;
	overflow:auto;
}
.itemstylea .cnt ul::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ddd;
}
.itemstylea .cnt ul::-webkit-scrollbar{
	width: 10px;
	background-color: #fff;
}
.itemstylea .cnt ul::-webkit-scrollbar-thumb{
	width: 8px;
	border-radius: 8px;
	background-color: #ccc;
}
.item .cnt ul li{
	display: none;
	width: 100%;
}
.itemstylea .cnt ul li h3{
	text-align: center;
	font-size: 26px;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 18px;
	font-family: "huawensongti";
}
.itemstylea .cnt ul li h4{
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: "SimSun-ExtB";
	font-weight: bold;
}
.itemstylea .cnt ul li h5{
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	margin: 14px 0;
}
.itemstylea .cnt ul li h5 span:first-child{
	font-family: "huawenkaiti";
	font-weight: bold;
}
.itemstylea .cnt ul li h5 span:last-child{
	font-family: Helvetica;
}
.itemstylea .cnt ul li h6{
	text-align: center;
	font-size: 14px;
	margin-bottom: 30px;
}
.itemstylea .cnt ul li h6 span:first-child{
	font-family: "huawensongti";
}
.itemstylea .cnt ul li h6 span:last-child{
	font-family: "SimSun-ExtB";
	font-weight: bold;
	font-size: 12px;
}
.itemstylea .cnt ul li .abstract{
	font-weight: bold;
	line-height: 26px;
}
.itemstylea .cnt ul li .abstract:nth-of-type(2n+1) span{
	float: left;
	font-family: "huawensongti";
	margin:0 5px 0 28px;
}
.itemstylea .cnt ul li .abstract:nth-of-type(2n+1) p{
	font-family: "huawenkaiti";
}
.itemstylea .cnt ul li .abstract:nth-of-type(2n) span{
	float: left;
	font-family: "SimSun-ExtB";
	margin:0 5px 0 28px;
	text-shadow: 0 0 0.1px #333;
}
.itemstylea .cnt ul li .abstract:nth-of-type(2n) p{
	font-family: "SimSun-ExtB";
}
.itemstylea .cnt ul li .abstract:last-of-type{
	margin-bottom: 30px;
}
.itemstylea .cnt ul li>p{
	font-size: 16px;
	font-family: "huawensongti";
	line-height: 30px;
	text-indent: 32px;
}
.itemstylea .cnt ul li>p strong{
	font-family: "huawensongti";
}
.itemstyleb .cnt ul{
	overflow:hidden;
}
.itemstyleb .cnt ul li{
	height: 100%;
}
.itemstyleb .cnt ul li video{
	width: 100%;
	height: 100%;
	background-color: #000;
}
.item.itemstylec{
	padding: 70px 0 0;
}
.item.itemstylec .proposal{
	height: 40vw;
	padding-bottom: 65px;
	background: url(../images/proposal.png) no-repeat bottom center #f8f8f8;
	background-size: cover;
	background-size: auto 40vw;
}
.item.itemstylec .proposal p{
	padding: 0 20px;
	line-height: 76px;
	font-size: 32px;
	font-family: "huawenkaiti";
	color: #bf1a20;
	font-weight: bold;
	text-align: center; 
}
@media screen and (min-width: 1230px) {
	.banner{
		height: 600px!important;
		background-size: auto 600px!important;
	}
	.item.itemstylec .proposal{
		height: 521px!important;
		background-size: auto 521px!important;
	}
}
@media screen and (max-width: 1229px) {
	.item .sel ul li{
		height: 40px;
		font-size: 20px;
		line-height: 42px;
	}
	.item .cnt{
		height: 320px;
	}
}
@media screen and (max-width: 991px) {
	.item .inr{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.item .sel{
		order: 1;
	}
	.item .cnt{
		order: 2;
	}
	.item.itemstylec .proposal p{
		line-height: 60px;
		font-size: 26px; 
	}
}
@media screen and (max-width: 767px) {
	.item .sel ul li{
		margin: 15px 0 5px;
	}
	.item h3.head{
		height: 26px;
		padding-top: 3px;
		font-size: 28px;
		line-height: 26px;
	}
	.item.itemstylec .proposal p{
		line-height: 40px;
		font-size: 20px; 
	}
}
@media screen and (max-width: 479px) {
	.item .sel ul{
		width: 95%;
	}
	.item .sel a.lookmore{
		right: 11%;
	}
	.item .sel ul li{
		margin: 10px 0 2px;
		height: 34px;
		font-size: 18px;
		line-height: 36px;
	}
	.item.itemstylec .proposal{
		height: 260px!important;
		background-size: auto 260px!important;
	}
}